.user-form {
    height: 400px;
    width: 200px;
    background-color: gainsboro;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 10px;
    position: absolute;
    left:40%
  }
  .tester-form {
    height: 150px;
    width: 200px;
    background-color: gainsboro;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 10px;
    position: absolute;
    left:40%
  }
  #mp{
    padding: 16px;
    /* width: 50%; */
   display:block;
  justify-content: center;
  position: absolute;
  left: 40%;
  }
  .user-form .username {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .user-form .fullName {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  .user-form .add {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}
 input[type=button] {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}




.container {
  padding: 16px;
  /* width: 50%; */
 display:block;
justify-content: center;
position: absolute;
left: 30%;



  
}
h3{
  text-align: center;
}
h1{
  text-align: center;
}


